/********* Estilos para Datagrid *********/

.datagrid table {
  border-collapse: collapse;
  text-align: left;
  width: 100%; }

.datagrid {
    background: #fff;
    overflow: hidden;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

.datagrid table td,
.datagrid table th {
  padding: 3px 5px;
  }

.datagrid table thead th {
/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');*/
background-color:#4cbade;
color:#005d7b;
font-size: 15px;
font-weight: bold;
border-left: 1px solid #0070A8;
border-bottom: 1px solid #0070A8;
}

.datagrid table thead th:first-child {
border-left: none;
}

.datagrid table tbody td {
  color: #00496B;
  border-left: 1px solid #E1EEF4;
  font-size: 12px;
  font-weight: normal;
  }

.datagrid table tbody .alt td {
  background: #E1EEF4;
  color: #00496B; }

.datagrid table tbody td:first-child {
  
  }

.datagrid table tbody tr:last-child td {
  border-bottom: none;
}

.datagrid table tbody tr.even {
  background-color: #CEECF5;  
}

.datagrid table tbody tr.borrado{
  background-color: #848484;
} 

.datagrid table tfoot td div {
  border-top: 1px solid #006699;
  background: #E1EEF4;

  }
.datagrid table tfoot td {
  padding: 0;
  font-size: 12px

  }

.datagrid table tfoot td div{
  padding: 2px;
  }

.datagrid table tfoot td ul {
  margin: 0;
  padding:0;
  list-style: none;
  text-align: right;
  }

.datagrid table tfoot li {
  display: inline;
  }

.datagrid table tfoot li a {
  text-decoration: none;
  display: inline-block;
  padding: 2px 8px;
  margin: 1px;
  color: #FFFFFF;
  border: 1px solid #006699;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
  background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
  background-color:#006699; }

.datagrid table tfoot ul a.active, .datagrid table tfoot ul a:hover {
    text-decoration: none;
    color: #000000;
    background: none;
    background-color:#4cbade;
}

.datagrid a {
    text-decoration: none;
}

/********* Estilos para Formulario *********/

form > label{
  color: #0091c0;
  margin: 5px;
  font-weight: bold;
  font-size: 14px;
}

form .capitalize
{
text-transform:capitalize;
}

.subir{
  display: inline-block; 
  margin_buttom: 8px;
}

/********* Estilos para error de validacion en formularios *********/

div .error{
  color:orange;
  font-weight: bold;
  font-size: 13px;
  margin: 3px;
}

.error{
  color:red;
}



/********* Estilos para imagenes de accion *********/

.action{
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 7px;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
}

/********* Estilos para imagen reload *********/

.abutton {
  display: inline-block;
  background: #006699;
  padding: 6px;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  font-size: 13px;
  font-family: helvetica;
  border: none;
  font-weight: normal;
  min-width: 68px;
   border: solid 1px #4cbade;
}

.abutton_cancel {
  display: inline-block;
  background: #4cbade;
  padding: 6px;
  text-align: center;
  border-radius: 5px;
  color: #0000FF;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  font-size: 13px;
  font-family: helvetica;
  border: solid 1px;
  font-weight: normal;
  min-width: 68px;
}

.hide {
  display: none;
}

.show{
  display: block;
}

.wait{
  background: url('../images/wait.gif') no-repeat left center;
  background-size: 30px;
  padding-left: 32px; 
}

.table_form{
  width: 100%;
  color:#0091c0;
  font-weight: bold;
  font-size: 14px;
}

.standOut{
  background-color: #D8D8D8;
}

.table_form select {
   width: 100%;
}

.table_form input {
   width: 100%;
}

.table_form input[type='checkbox'] {
    width: 16px;
}

.auto-button{
  height: 18px;
  margin-top: -4px;
  width: 25px;
  margin-left: -1px;
}

.auto-input{
  width:auto !important;
}

.select_reload > * {
  display: inline-block;
}