* {
 font-family: Helvetica, Arial, sans-serif;
 font-size: 13px;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 /*behavior: url("../css3-tools/PIE/PIE.htc");
 behavior: url("../css3-tools/ie-css3.htc");*/
}

html, body{

    height: 100%;
}


/*#wrapper{
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -109px;
} */

.abutton {
  display: inline-block;
  background: #006699;
  padding: 6px;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  font-size: 13px;
  font-family: helvetica;
  border: none;
  font-weight: normal;
  min-width: 68px;
   border: solid 1px #4cbade;
}



/********* Estilos para error de validacion en formularios *********/

.error{
  color:red;
  font-weight: bold;
  margin: 3px;
}

/********* Estilos para Footer *********/

.footer-container {
    height: 65px;
     background-image: url(../images/bg_blue_lines.png);
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
    box-shadow:inset 0 0 10px #000000;
}

.footer-container #footer{
  width: 985px;
  height: 100%;
  margin: 0 auto;
}

.footer-container #logo-footer{
  width: 31%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.footer-container #logo-footer a > *{
  display: inline-block;
  vertical-align: middle;
}

.footer-container #logo-footer a > img{
  width: 95px;
  height: 60px;
}

.footer-container #logo-footer a{
  text-decoration: none;
}

.footer-container p{
  color:#FFFFFF;
}

.footer-container strong{
  font-size: 15px;
}

/********* Estilos para Header *********/

.header-container {
    width: 100%;
    background-image: url(../images/bg_gray_lines.png);
    border-bottom: 1px solid #c1c0c0;
}

.header-container #header {
    height: 75px;
    margin: 0 auto;
    width: 73%;
    min-width: 960px;
}

.header-container #logo {
    display: inline-block;
    margin-left: 65px;
    width: 24%;
}

.header-container #logo img {
    height: 65px;
}

.header-container #menu {
  display: inline-block;
  float: right;
}

/********* Estilos para Banner *********/

.banner-container {
    width: 100%;
    height: 130px;
    background-image: url(../images/bg_blue_lines.png);
    margin: 5px 0 5px 0;
    /*sombras internas*/
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
    box-shadow:inset 0 0 10px #000000;
    cursor: pointer;
}

.banner-container #show-hide-banner{
  background: url(../images/arrow-up-down.png);
}

.banner-container #div-banner{
    width: 73%;
    min-width: 960px;
    height: 100%;
    margin: 0 auto;
}

.banner-container #prox-cita{
    width: 31%;
    height: 100%;
    background-color: #F1F1F1;
    display: inline-block;
    vertical-align: top;
    /*sombras internas*/
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
    box-shadow:inset 0 0 10px #000000;
    color: #0079a1;
}

.banner-container #datetime > *{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 7px;
    padding-left: 22px;
}

.banner-container #datetime > #time_prox{
    width: 28%;
    background-image: url(../images/clock.png);
    background-repeat: no-repeat;
    background-position:center left; 
}

.banner-container #datetime > #date{
    width: 70%;
}

.banner-container #prox-cita > *{
  display: inline-block;
  vertical-align: top;
}

.banner-container #detail-cita{
  width: 100%;
}

.banner-container #head-cita{
    padding-top: 7px;
    width: 330px;
    background-image: url(../images/notes.png);
    background-repeat: no-repeat;
    background-position: 77px 5px;
}

.banner-container #detail-cita-small{
  display: none; 
  width: 52%;
}

.banner-container #detail-cita-small strong{
  color:#000 !important;
  font-size: 11px;
}

.banner-container #detail-cita-small p{
  font-size: 11px;
}

.banner-container #detail-cita-small > #detail{
  width: 100%;
  padding-top: 7px;
  font-size: 11px
}

.banner-container #detail-cita-small #detail > *{
  display: inline-block;
  vertical-align: top;
}

.banner-container #datetime{
    width: 300px;
}

.banner-container #head-cita > p{
    text-align: center;
    font-weight: bold;
    height: 30px;
    padding-top: 4px;
}

.banner-container #detail-cita > div{
    display: inline-block;
}

.banner-container #detail-cita #detail-1{
    width: 30%;
    text-align: right;
    color: #0e81a7;
}

.banner-container #detail-cita #detail-2{
    width: 68%;
    text-align: left;
    color: #000000;
    font-weight: bold;
}

.banner-container #detail-cita p{
    padding: 2px;
    font-size: 11px;
}

.banner-container #doctors{
    width: 68%;
    height: 100%;
    background-color: transparent;
    display: inline-block;
    background-image: url(../images/bg_banner.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 430px;
}

/********* Estilos para Main *********/

.main-container{
    min-height: 470px;
    background-color: #ECECEC;
    border-top: 1px solid #C1C0C0;
    border-bottom: 1px solid #C1C0C0;
}

.main-container #div-container{
    width: 73%;
    min-width: 960px;
    margin: 10px auto;
    height: 100%
}

/********* Estilos para Acordeon *********/

.ac-container{
    width: 309px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
}

.ac-container label{
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #0079a1;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
    line-height: 17px;
    border: 1px solid #cacaca;
    background-color: #FFFFFF;
    list-style-type:circle;
}

.ac-container label:hover{
    background: #ECECEC;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    border-color: #00BFFF
    width: 24px;
    height: 24px;
    right: 13px;
    top: 5px;
    background: transparent url(../images/arrow_down.png) no-repeat center center;
}

.ac-container input:checked + label:hover:after{
    background-image: url(../images/arrow_up.png);
}

.ac-container .ac-title{
  padding: 7px;
  padding-left: 20px;
  color: #0091c0;
  font-weight: bold;
  height: 30px;
  background-color:#FFF;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; 
  border:1px solid #cacaca;
  border-bottom: none;
}

.ac-container input{
    display: none;
    color: #0091c0;
}

.ac-container article{
    background: rgba(255, 255, 255, 0.5);
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    transition:
        height 0.3s ease-in-out,
        box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
    transition:
        height 0.5s ease-in-out,
        box-shadow 0.1s linear;

    box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

.ac-container article p{
    font-style: italic;
    color: #777;
    line-height: 23px;
    /*font-size: 14px;*/
    padding: 20px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.ac-container input:checked ~ article{
    height: 256px;
    overflow-x: hidden;
    overflow-y: auto;
}

.footer-container #renew{
  height: 55px;
  width: 68%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}

.footer-container #renew p{
  background-image: url(../images/white-arrow.png);
  background-repeat: no-repeat;
  background-size: 18px 16px;
  background-position-x: 2px;
  display: inline-block;
  color: #FFFFFF;
  padding-left: 24px;
  font-size: 14px;
}

.footer-container #renew .error{
  background-image: url(../images/red-arrow.png);
  color: red;
  margin: 0;
}

.footer-container .abutton {
  display: inline-block;
  background: #006699;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  font-family: helvetica;
  border: none;
  font-weight: normal;
  border: solid 1px #4cbade;
}

/********* Estilos para Tabs *********/

.tabs-container{
  width: 65%;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  height: 100%;
}


.tabs-container #container{
  height: 100%;
}

.tabs-container #container > img{
  position: absolute;
  margin-top: 15px;
  opacity: 0.5;
}

#container #tabs{
  overflow: hidden;
  width: 93%;
}

#container #tabs > div{
  width: 5046px;
  height: 31px;
  left: 0px;
  position: relative;
}

#container #moveTabLeft{
  background-image: url(../images/arrow-left.png);
  width: 16px;
  height: 31px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#container #moveTabRight{
  background-image: url(../images/arrow-right.png);
  width: 16px;
  height: 31px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#container .show{
  opacity: 1;
  z-index: 1;
}

#container .hide{
  opacity: 0;
  z-index: 0;
}

#container #moveTabLeft, #tabs, #moveTabRight {
  display: inline-block;
  vertical-align: top;
}

#container iframe {
  min-height: 425px;
  width: 665px;
  border:none;
  background-color:#ECECEC;
}

#container input[type="radio"] {
 height: 2.5em;
 visibility: hidden;
}

#container label {
 background: #f9f9f9; 
 border-radius: .25em .25em 0 0;
 color: #888; 
 cursor: pointer;
 display: block;
 float: left;
 font-size: 1em;
 height: 2.5em;
 line-height: 2.5em;
 margin-right: .25em;
 padding: 0 1.5em;
 text-align: center;
}

#container input:hover + label {
 background: #ddd;
 color: #666; 
}

#container .tabUnChecked {
 background: #f9f9f9; 
 border-radius: .25em .25em 0 0;
 color: #888; 
 cursor: pointer;
 display: block;
 float: left;
 font-size: 1em;
 height: 2.5em;
 line-height: 2.5em;
 margin-right: .25em;
 padding: 0 1.5em;
 text-align: center;
}

#container .tabChecked {
  background: #f1f1f1;
  color: #444;
  position: relative;
  border: 2px solid #8F8F8F;
  z-index: 6;
}

#container input:checked + label {
 background: #f1f1f1;
 color: #444; 
 position: relative;
 border: 2px solid #8F8F8F;
 z-index: 6;
}

#content {
 position: relative;
 width: 100%;
 height: auto;
 z-index: 5;
}

#content div {
 opacity: 0;
 position: absolute;
 z-index: -100;
}

/********* Estilos para menu_header *********/

#divnav{
  width: 100%;
  height: 45px;
}

nav{
   height: 30px;
   background: #F9F9F9;
   border: 2px solid #8F8F8F;
   border-top: none;
   float: right;
   display: inline-block;
   -moz-border-radius: 0 0 6px 6px;
   -webkit-border-radius: 0 0 6px 6px;
   border-radius: 0 0 6px 6px;
   margin-bottom: 15px;
   color: #0091c0;
}

nav > * { z-index: 1000;}

nav li{
   list-style: none;
   height: 30px;
   position:relative;
   float: right;
   display: inline-block;
   padding-left: 13px;
}

nav li a{
   height: 30px;
   text-decoration:none;
   padding: 7px;
   padding-left: 19px;
   display:block;
   font-weight: bold;
   color: #0091c0;
}

.parent > a{
    background: transparent url(../images/arrow_down.png) no-repeat left center;
}

nav li a:hover{
   color:#005d7b;
}

nav li.parent:hover{
   border: 1px #ccc solid;
   margin: -1px;
   background: #F8F8F8;
   -moz-border-radius: 0 0 6px 6px;
   -webkit-border-radius: 0 0 6px 6px;
   border-radius: 0 0 6px 6px;
}

nav li li a{
   width: 180px;
   height: 27px;
   display: block;
   padding: 5px;
   padding-left: 17px;
   font-weight: normal;
}

nav li li{
   border-bottom:1px solid #8F8F8F;
   left: 1px;
   height: 27px;
   padding-left: 0px;
}

nav li ul {
   width: 180px;
   margin: 0;
   display: none;
   background: #F8F8F8;
   position: absolute;
   top: 107%;
   left: -1px;
   border: 1px solid #8F8F8F;
   border-bottom: none;
}

nav li:hover ul {
   display: block;
}

.header-container #welcome{
   margin-bottom: 10px;
   text-align: right;
}

.header-container #welcome > strong{
   margin-right: 10px;
}

.header-container #logout{
    padding-left: 20px;
    background: transparent url(../images/logout.png) no-repeat left center;
    background-size:15px 15px;
    text-decoration: none;
    color: #eb6f00;
    font-size: 11px;
}

.header-container #welcome > *{
  display: inline-block;
}

.header-container #welcome > p{
  padding-left: 30px;
  background: transparent url(../images/green_dot.png) no-repeat left center;
  background-size:30px 30px;
}

.header-container #welcome {
  color: #005d7b;
}


.cita-stilo{
  margin-top: 13px;
}

.cita-stilo #div-banner{
    width: 986px;
    height: 100%;
    margin: 0 auto;
}

.cita-stilo p{
  font-style: italic;
  color: #0079a1 !important;
  line-height: 23px;
  padding-left: 10px;
  padding: 1px !important;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);

}

.cita-stilo #detail{
  padding-left: 15px;
  border-bottom: solid 1px;
}

.cita-stilo #prox-cita{
    width: 309px;
    height: 100%;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    color: #0079a1;
}

.cita-stilo #datetime > *{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 10px;
}

.cita-stilo #datetime > #time{
    width: 28%;
    background-image: url(../images/clock.png);
    background-repeat: no-repeat;
    background-position:center left; 

}

.cita-stilo #datetime > #date{
    width: 70%;
    
}

.cita-stilo #detail-cita{
  width: 100%;
}

.cita-stilo #head-cita{
    padding-top: 7px;
    width: 330px;
    background-image: url(../images/notes.png);
    background-repeat: no-repeat;
    background-position: 77px 5px;
}

.cita-stilo #detail-cita-small{
  display: none; 
  width: 520px;
}

.cita-stilo #detail-cita-small strong{
  color:#000 !important;
  font-size: 11px;
}

.cita-stilo #detail-cita-small p{
  font-size: 11px;
}

.cita-stilo #detail-cita-small > #detail{
  width: 100%;
  padding-top: 7px;
  font-size: 11px
}

.cita-stilo #detail-cita-small #detail > *{
  display: inline-block;
  vertical-align: top;
}

.cita-stilo #datetime{
    width: 300px;
}

.cita-stilo #head-cita > p{
    text-align: center;
    font-weight: bold;
    height: 30px;
    padding-top: 4px;
}

.cita-stilo #detail-cita > div{
    display: inline-block;
}

.cita-stilo #detail-cita #detail-1{
    width: 30%;
    text-align: right;
    color: #0e81a7;
}

.cita-stilo #detail-cita #detail-2{
    width: 68%;
    text-align: left;
    color: #000000;
    font-weight: bold;
}

.cita-stilo #detail-cita p{
    padding: 2px;
    font-size: 11px;
}

.cita-stilo #doctors{
    width: 673px;
    height: 100%;
    background-color: transparent;
    display: inline-block;
    background-image: url(../images/bg_banner.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 430px;
}

.login form{
  background:transparent;
  background-repeat: no-repeat;
  background-position:center;
 background-size: 430px;
 border-radius: 5px;
 font-family: Helvetica, Arial, sans-serif;
color:white;
font-size: 30px;
}



.login input {
  background:transparent;
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  color:black;

}

.login label{
  width:40px;
  height: 30px;
 font-family: Helvetica, Arial, sans-serif;
color:white;
font-size: 18px;
}



#wrapper_login{
  background-image: url(../images/background_login.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 615px;
  padding-top: 100px;
}

.ico {
  width:25px;
  height:25px;
  cursor:pointer;
}

.hide {
  display: none;
  
}
